:root {
  --clr-cyan: hsl(185, 75%, 39%);
  --clr-blue-dark: hsl(229, 23%, 23%);
  --clr-blue-grayish: hsl(227, 10%, 46%);

  --clr-ligth: hsl(0, 0%, 59%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--clr-cyan);
  position: relative;
}

html::before,
html::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  height: 50%;
  width: 50%;
  z-index: -1;
}

html::before {
  background-image: url("../images/bg-pattern-top.svg");
  background-position: 100% 100%;
  left: 0;
  top: 0;
}

html::after {
  background-image: url("../images/bg-pattern-bottom.svg");
  right: 0;
  bottom: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  display: grid;
  margin: 0;
  height: 100vh;
}

.card {
  background-color: white;
  min-width: 350px;
  place-self: center;
  border-radius: 18px;
  overflow: hidden;
}

.card__header {
  background-image: url("../images/bg-pattern-card.svg");
  height: 150px;
  position: relative;
}

.card__image {
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  bottom: -52px;
  right: calc(50% - 52px);
}

.card__content {
  padding-top: 75px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__name {
  font-size: 18px;
  margin: 0;
}

.card__text-light {
  font-weight: 300;
  color: var(--dark-grey);
}

.card__city {
  font-size: 15px;
}

.card__stats {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.card__stat {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

.text-small {
  font-size: 10px;
}
